// Place all the styles related to the blog_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** Footer ***/
footer {
  font-weight: bold;
  text-align: center;
  position: static;
  width: 100%;
}

/*** Navigation bar ***/
.navbar {
  background-color: #c2cdd3;
  padding-top: 8px;
  padding-left: 8px;
  margin-bottom: 8px;
}

.navbar-nav {
  font-family: 'Orbitron', sans-serif;
}

.navbar-toggle {
  background-color: #92A6B1;
}

#brand-logo{
  font-size: 1.5em;
  font-family: 'Orbitron', sans-serif;
  margin-top: 15px;
}

.nav li a:hover {
  background-color: #92A6B1;
}

/*** Articles ***/
.container {
  width: 75%;
  text-align: justify;
  padding: 10px;
}

.img-responsive {
  margin: 0 auto;
}

.container h2, p {
  text-align: center;
}
