<h2>contact us - WebDev</h2>
<p>do you have some questions about our content? dying to get in touch with us?</p>
<p><span class="glyphicon glyphicon-envelope"></span> info@webdev.blog</p>
<p><span class="glyphicon glyphicon-earphone"></span> (049)1234 56 789</p>

<p>we will get back to you as soon as possible!</p>
